<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
  
  <variable name="brief" value="${longdate} | ${level} | ${logger} | ${message}"/>
  <variable name="verbose" value="${longdate} | ${machine} | ${processid} | ${processname} | ${level} | ${logger} | ${message}"/>
  
  <targets>
    <!--<target name="file" xsi:type="File" layout="${verbose}" fileName="${basedir}/${shortdate}.log" />-->
    <target name="console" xsi:type="ColoredConsole" layout="${brief}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="console" />
  </rules>
</nlog>